.catWraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  float: left;
  width: 75vw;
  margin-bottom: 5rem;
  font-size: 1rem;
  margin: 1rem 0 1rem 2rem;
  align-items: center;
  justify-items: center;
  article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 38vh;
    a {
      position: relative;
      text-decoration: none !important;
      height: 86%;
      #best {
        // left: 100%;
        font-size: 1rem;
        position: absolute;
        background-color: #ff4438;
        color: white;
        padding: .3rem 1rem;
      }
      img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
      }

      }
      .productInfo {
        height: 14%;
        text-align: left;
        h4 {
          font-size: 1.1rem;
          background-color: white;
        }
        p{
          font-size: 1rem;
          color: #757575;
        }
    }
  }
}

@media all and (max-width: 425px) {
  .catWraper {
    grid-template-columns: 1fr 1fr;

    article {
      width: 45vw;
      margin: 0 auto;

      a {
        margin: 0 auto;
      }

      img {
        object-fit: contain;
      }
    }
  }
}
@media all and (max-width: 510px) {
  .catWraper{
    width:100vw;
    margin: 0;
    article {
      a {
        height: 35vh;
        #best {
          font-size: .7rem;
        }
      }
    }
  }
}
@media all and (max-width: 650px) and (min-width: 425px) {
  .catWraper{
    grid-template-columns: 1fr 1fr 1fr;
  }
}