.filterWrap {
  width: 50%;
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  text-align: left;
  background-color: #f8f8f8;
  margin: 0.5em;
}
@media all and (min-width: 510px) {
  .filterWrap{
    width: 100%;
    text-align: center;
  }
}
.closeIcon {
  // font-size: 2em;
  // position: absolute;
  // right: 2vh;
  // top: 1vh;
  // color: red;
}
.inputself {
  margin: .5rem .5rem .5rem 0;
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.5rem;
  /* margin: 8px 0; */
  box-sizing: border-box;
}
