.hero {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  .heroImage {
    display: flex;
    flex-direction: column;
    .heroText {
      padding: 0.2em;
      text-align: center;
      cursor: pointer;
      background-color: black;
      color: rgba(226, 96, 96, 0.829);
      font-size: 4rem;
      font-weight: 900;
      font-family: "Yantramanav", sans-serif;
    }

    .heroText:hover {
      font-style: italic;
    }

    img {
      width: 100vw;
      -o-object-fit: cover;
      object-fit: cover;
      transition: all 1s linear;
    }

    @media all and (min-width: 769px) {
      img {
        height: 70vh;
        width: 50vw;
      }
      .down {
        object-position: 50% 30%;
      }
    }
  }
}
@media all and (max-width: 769px) {
  .hero {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 510px) {
  .hero {
    .heroImage {
      .heroText {
        font-size: 3rem;
      }
    }
  }
}

.menImageTitle {
  display: flex;
  flex-wrap: wrap;
}

.mainButton {
  position: absolute;
  width: 10vw;
  top: 65vh;
  left: 5vw;
  font-size: 1.3rem;
  border: none;
  background: none;
  padding: 2px 5px;
  line-height: 1.6em;
  cursor: pointer;
  color: #fff;
  background: black;
  font-style: oblique;
  transition: all ease-in 1s;
}

.mainButton:hover {
  background: white;
  color: black;
  transition: all ease-in 1s;
}

.mainsignin {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  justify-content: center;
  align-self: center;

  .maindesc {
    max-width: 100%;
    padding: 0 1rem;
    font-size: 3.5rem;
    margin: 0 auto 1rem auto;
    font-family: "Noto Serif";
    text-align: center;
  }
  h4 {
    padding: 1rem;
    font-size: 1.1rem;
    margin: 0 auto 1rem auto;
    min-width: 65%;
    max-width: 90%;
    text-align: center;
  }
  .mainForm {
    max-width: 100vw;
    min-width: 60vw;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    input::placeholder {
      padding: 0.5em;
      font-size: 1rem;
    }
    input:focus {
      outline: none;
    }

    .option {
      min-width: 40%;
      display: relative;
      input {
        -webkit-appearance: none;
        border: solid 1px #757575;
        width: 1.6rem;
        height: 1.6rem;
        vertical-align: middle;
      }
      label {
        padding: 0.5rem;
        cursor: pointer;
        opacity: 0.7;
        max-width: 45%;
        text-decoration: none;
      }
      // label:before {
      //   content:'';
      //   -webkit-appearance: none;
      //   background-color: transparent;
      //   border: 2px solid #0079bf;
      //   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      //   padding: 10px;
      //   display: inline-block;
      //   position: relative;
      //   vertical-align: middle;
      //   cursor: pointer;
      //   margin-right: 5px;
      // }
      // input:checked + label:after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: 2px;
      //   left: 9px;
      //   width: 6px;
      //   height: 14px;
      //   border: solid #0079bf;
      //   border-width: 0 2px 2px 0;
      //   transform: rotate(45deg);
      // }
    }
    .option:hover {
      opacity: 1;
    }
    .email {
      width: 95%;
      text-align: center;
      input[type="text"] {
        font-size: 1rem;
        padding: 1em;
        font-family: "Raleway", sans-serif;
        margin: 1.5rem 0;
        width: 75%;
        box-sizing: border-box;
      }
      .subscribe {
        background-color: #000;
        color: #fff;
        padding: 1rem 2rem;
        margin: 0;
        font-size: 1rem;
        width: 25%;
      }
    }
  }
  @media all and (max-width: 425px) {
    .options {
      margin: 0;
    }
    .mainForm {
      .email {
        input[type="text"] {
          width: 62%;
        }
      }
    }
  }
}

.belowsection {
  display: flex;
  justify-content: center;
  background-color: #fff;

  .belowimg {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    width: 40vw;

    img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 85vh;
    }

    .longDescription {
      display: border-box;
      text-align: center;

      .title {
        font-family: "Noto Serif";
        margin: 0.5em auto;
        font-size: 1.8rem;
        font-weight: 500;
      }

      p {
        width: 25vw;
        max-height: 5rem;
        white-space: wrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-size: 1.2rem;
        margin: -0.5em auto;
      }
    }
  }
}

// @media all and

.products {
  display: block;
  overflow: auto;
  margin-top: 5rem;

  .productsWrapper {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    overflow: auto;
    justify-content: start;
    padding: 0 2rem 1.5rem 0;

    .productWrapper {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 1.5rem;
      width: 18rem;

      img {
        object-fit: cover;
        // width: 25vw;
        height: 25rem;
      }
      .productName {
        text-align: left;
        font-size: 1.1rem;
        padding: 0.5rem 0 0.5rem 0.5rem;
      }
      p {
        font-size: 1rem;
        color: #757575;
        padding: 0 0 0 0.5rem;
      }
      .discounted {
        color: rgb(255, 77, 77);
        text-decoration: line-through black;
      }
    }
  }
}
// .products::-webkit-scrollbar {
//   display: none;
// }

/* Hide scrollbar for IE and Edge */
.products {
  -ms-overflow-style: none;
}
// @media all and (max-width: 768px) and (min-width: 515px) {
//   .mainsection {
//     .mainsectimg {
//       img {
//         // height: initial;
//       }
//     }
//   }
// }

@media all and (min-width: 768px) {
  .mainsectimg {
    img {
      width: 50vw;
    }
  }
}
