.formself {
  display: flex;
  flex-direction: column;
  input {
    padding: 0.5vh 0;
  }
  label {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 1vh 0;
  }
  button {
    width: 70vw;
    padding: 0.5vh 0;
    margin-top: 5vh;
  }
}
