.sortWrap {
  width: 50%;
  font-size: 1rem;
  text-align: left;
  background-color: #f8f8f8;
  margin: 0.5em;
}
@media all and (min-width: 510px) {
  .sortWrap {
    width: 100%;
    text-align: center;
  }
}
.sortWrap:active {
  border: none;
}
.sortWrap:focus {
  outline: none;
}
